* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .contenido {
  display: grid;
  grid-template-rows: 60px auto 1fr;
}

header .encabezado a:hover {
  font-weight: bold;
}

main {
  margin: 0 30px;
  align-content: center;
}
main .div-main {
  background-color: #F5F5F5;
}
main .img-mq {
  display: grid;
  grid-template-columns: 70px 70px 70px;
  grid-template-rows: 450px;
  justify-content: center;
  align-content: center;
  gap: 10px;
}
main .img-mq div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .leyenda-index {
  display: none;
}
main h1 {
  padding: 10px 0;
  text-align: center;
}
main p {
  text-align: center;
}
main .contenido-index {
  display: none;
}
main .contenido-main {
  display: none;
}
main .sedes-tablet {
  display: none;
}
main .contenido-grillas {
  display: none;
}
main .contenido-ddp {
  background-color: #F5F5F5;
}
main .contenido-ddp .imagen-ddp {
  display: none;
}
main .p-contacto {
  background-color: black;
  color: #F5F5F5;
  font-weight: bold;
}
main .contenido-contacto {
  background-color: #F5F5F5;
}
main .imagen-contacto {
  display: none;
}
main .img-mq-asociate {
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  gap: 10px;
}
main .img-mq-asociate div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .img-mq-sedes {
  display: grid;
  grid-template-rows: 150px 150px 150px;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  gap: 25px;
}
main .img-mq-sedes div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .img-mq-horarios {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  gap: 30px;
  padding: 20px 0;
}
main .img-mq-horarios div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .btn-primary {
  background-color: #773b5e;
}
main .btn-primary:hover {
  background-color: #530d36;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

@media screen and (min-width: 1024px) {
  body .contenido {
    display: grid;
    grid-template-rows: 60px auto 1fr;
  }
  main {
    background-color: #F5F5F5;
    margin: 35px 25px 25px 25px;
    object-fit: cover;
  }
  main .img-mq {
    display: none;
  }
  main .contenido-index {
    display: flex;
    justify-content: center;
  }
  main .contenido-main {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: center;
  }
  main .contenido-ddp {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 200px;
    gap: 60px;
    object-fit: cover;
  }
  main .contenido-ddp .imagen-ddp {
    display: block;
  }
  main .contenido-grillas {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
  }
  main .p-contacto {
    display: none;
  }
  main .imagen-contacto {
    display: block;
    text-align: center;
    padding: 20px 0;
  }
  main .img-mq-asociate {
    display: none;
  }
  main .img-mq-sedes {
    display: none;
  }
  main .img-mq-horarios {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
